USE [master]
GO
/****** Object:  Database [TrainBooking]    Script Date: 5/18/2023 8:58:22 PM ******/
CREATE DATABASE [TrainBooking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainBooking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TrainBooking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrainBooking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TrainBooking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainBooking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainBooking]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 5/18/2023 8:58:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[Email] [varchar](256) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 5/18/2023 8:58:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[Customer_Id] [int] NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[PhoneNum] [varchar](100) NOT NULL,
	[Email] [varchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEAT]    Script Date: 5/18/2023 8:58:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEAT](
	[Seat_Num] [int] NOT NULL,
	[Trip_Id] [int] NOT NULL,
	[Customer_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Seat_Num] ASC,
	[Trip_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRAIN]    Script Date: 5/18/2023 8:58:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRAIN](
	[Seat_Count] [int] NULL,
	[Train_Id] [int] NOT NULL,
	[Train_Type] [varchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Train_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRIP]    Script Date: 5/18/2023 8:58:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRIP](
	[Trip_Id] [int] NOT NULL,
	[FromLocation] [varchar](200) NOT NULL,
	[ToLocation] [varchar](200) NOT NULL,
	[Date] [date] NOT NULL,
	[Train_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Trip_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 5/18/2023 8:58:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[Email] [varchar](256) NOT NULL,
	[Password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADMIN]  WITH CHECK ADD FOREIGN KEY([Email])
REFERENCES [dbo].[USER] ([Email])
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD FOREIGN KEY([Email])
REFERENCES [dbo].[USER] ([Email])
GO
ALTER TABLE [dbo].[SEAT]  WITH CHECK ADD FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[CUSTOMER] ([Customer_Id])
GO
ALTER TABLE [dbo].[SEAT]  WITH CHECK ADD FOREIGN KEY([Trip_Id])
REFERENCES [dbo].[TRIP] ([Trip_Id])
GO
ALTER TABLE [dbo].[TRIP]  WITH CHECK ADD FOREIGN KEY([Train_Id])
REFERENCES [dbo].[TRAIN] ([Train_Id])
GO
USE [master]
GO
